@import url('https://fonts.cdnfonts.com/css/harry-potter');

body {
  background: rgb(14,26,64);
  background: linear-gradient(143deg, rgba(14,26,64,1) 27%, rgba(148,107,45,1) 41%, rgba(34,47,91,1) 68%);
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}

.App {
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;                                           
}

h2{
  font-family: 'Harry Potter', sans-serif;
  color: rgb(183, 164, 136);
  font-size: 35px;
  padding-top: 2rem;
  margin: 1rem 4rem 1rem 1.6rem;
}

button {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button.check {
  background-color: #946B2D;
  color: white;
  border-radius: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  -webkit-user-select: none;

}

button.check:hover {
  transform: translateY(-1px);
}

button.check:active {
  background-color: #bb8739;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/*------Conteiner--------*/

.container-todo-app {
  background-color:#0e1a40;
  width: 100%;
  text-align: center;
  margin: auto;
  
}




/*----FormTodo---*/

.todo-list{
  height: 150px;
  align-items: center;

}

hr{
  background-color: rgba(148,107,45,1);
  height: 2px;
}

.text {
  margin: 0 0.7rem 1rem 1.1rem;
  border-radius: 3px;
  box-shadow: 2px 5px 8px;
  width: 213px;
  height: 35px;
}

.strike {
  text-decoration: line-through;
}

.blur {
  filter: blur(3px);
}

/*----TAsklist----*/

/*----CheckBox-----*/

.todo-new-item {
  display: flex;
}

.todo-state {
  margin: 0.3rem 0.5rem 0.5rem 1.6rem;;
} 

